<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <MonotouchConverter.Properties.Settings>
      <setting name="SourcePath" serializeAs="String">
        <value>c:\ProjectSource</value>
      </setting>
    </MonotouchConverter.Properties.Settings>
  </applicationSettings>
</configuration>