<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MonotouchConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- log4net -->

  <log4net>
    <appender name="CommonAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogFull_" />
      <datePattern value="dd-MM-yyyy" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%d %-5p [%c, %t] - %m" />
      </layout>
    </appender>

    <appender name="ErrorsAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogErrors_" />
      <datePattern value="dd-MM-yyyy" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%d %-5p [%c, %t] - %m" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%d %-5p [%c, %t] - %m" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="CommonAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="ErrorsAppender" />
    </root>

    <logger name="NHibernate">
      <level value="ERROR" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <MonotouchConverter.Properties.Settings>
      <setting name="SourcePath" serializeAs="String">
        <value>c:\ProjectSource</value>
      </setting>
    </MonotouchConverter.Properties.Settings>
  </applicationSettings>
</configuration>